.container {
    border: solid;
    display: grid;
    height: 80vh;
    grid-template: repeat(3, 100px) / repeat(3, auto);
    gap: 15px;
    align-content: space-evenly;
}

.ana {
    background-color: yellow;
}
.rebeca {
    background-color: lightblue;
}
.pedro {
    background-color: greenyellow;
}
.andre {
    background-color: palevioletred;
}
.alice {
    background-color: aqua;
}
.camila {
    background-color: violet;
}
.sofia {
    background-color: greenyellow;
}
.kaio {
    background-color: yellow;
}
.michele {
    background-color: lightblue;
}