html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: aquamarine;
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 15%;
  background-color: aqua;
  padding: 10px 20px 0px;
}
.header {
  background-color: rgb(5, 108, 108);
  min-height: 150px;
}

.header img {
  padding: 25px;
}

.content {
  background-color: white;
  min-height: 300px;
  padding: 20px;
}
.footer {
  background-color: rgb(99, 56, 240);
  min-height: 150px;
}

#tabela th, td {
    border: 1px solid rgb(63, 63, 63);
    padding: 5px;
    text-align: center;

}

#tabela {
    border-collapse: collapse;
    width: 100%;
}

#tabela tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tabela tr:hover {
    background-color: #ddd;
}

#tabela th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #000000;
    color: white;
    font-weight: bolder
}
