.container {
    margin: 10px 0;
    background-color: lightcoral;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.item {
    background-color: lightgreen;
    margin: 10px;
}

#container-01 {
    flex-flow: row wrap;
}

#container-02 {
    height: 300px;
    flex-flow: column wrap;
}