@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }

  body {
    background-color: var(--primary-color);
    color: var(--text-color);
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-bg-color);
    
  }

  header .logo {
    width: 120px;
    margin: 2rem 0 1.5rem;
  }

  #header-btns {
    margin-bottom: 1.5rem;
  }

  #login-btn, #sgnUp-btn, .value button {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .1rem;
    color: #fff;
    background-color: var(--secondary-color);
    padding: .5rem 1.5rem;
    border: none;
    border-radius: 1rem;
  }

  #login-btn {
    background-color: transparent;
  }

  hr {
    width: 60vw;
    margin: 3rem auto;
    border: .2rem solid;
    border-image: var(--divider-bg-color) 50;
  }

  section {
    padding: 3rem;
    text-align: center;
  }

  #channels {
    display: flex;
    margin: 2rem auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem 3rem;
    list-style: none;
  }

  h1 {
    font-size: 2rem;
    font-weight: 400;
  }

  h1 + span {
    font-size: 3rem;
    font-weight: 900;
  }

  h2 {
    font-size: 2.25rem;
    font-weight: 900;
  }

  .value span {
    font-size: 1.25rem;
  }

  .value h2 span {
    font-size: 1rem;
    font-weight: 400;
  }

  .value button {
    font-size: 1.1rem;
    letter-spacing: .2rem;
    margin: 3rem auto;
    padding: 1rem 2.25rem;
    border-radius: 2rem;
    background-image: var(--divider-bg-color);
    animation: wiggle 4s linear infinite;
  }


  .value p {
    width: 70%;
    margin: 0 auto;
    font-weight: 400;
    line-height: 1.5;
  }




  @keyframes wiggle {
    0% {
      transform: rotate(0);
    }
    10% {
      transform: rotate(-15deg);
    }
    15% {
      transform: rotate(10deg);
    }
    20% {
      transform: rotate(-10deg);
    }
    25% {
      transform: rotate(10deg);
    }
    30% {
      transform: rotate(-10deg);
    }
    35% {
      transform: rotate(10deg);
    }
    40%, 100% {
      transform: rotate(0);
    }
  }